

html {
  overflow: scroll;
}
body {

  background-image:url("../BCPics/background.jpeg");
  background-size:106vw;
  background-position-y:-30px;
  background-position-x:-20px;
  background-repeat:no-repeat;
  background-position:fixed;


}

#racetitle{

  font-family:Courier;
  font-size:70px;
  color:white;
  text-shadow: 2px 2px red;
  margin-bottom:100px;
  /*background-color:coral;*/


}

#prize-1 {
  height:95px;
  width: 71px;
  position: absolute;
  bottom:15px;

  z-index:0;

}

#prize-2 {
  height:95px;
  width: 161px;
  position:absolute;
  bottom:15px;

  z-index:0;
}


.abbi_ilana{
  height:80px; width:60px;
  margin-top:10px;

}

#p-1 {
  position: relative;
  width:100px; height:100px;
  background-color:white;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  font-size:40px;
  color:white;
  text-align: center;
  z-index:5;

}


#p-2 {

  position:relative;
  width:100px; height:100px;
  background-color:white;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  font-size:40px;
  color:white;
  text-align: center;
  z-index:5;

}


#t-1 {


  background-color:white;
  align: center;
  width:76vw; height:120px;
  margin-top:50px;
  margin-left:12vw;



}

#t-2 {


  background-color:white;
  align: center;
  width:76vw; height:120px;
  margin-top:50px;
  margin-left:12vw;



}


.btn {

margin-top: 100px;
margin-bottom: 100px;

}
