

#t-1 {


  background-color:black;
  position:fixed;
  width:900px; height:80px;
  margin-top:50px;

}

#t-2 {


    background-color:black;
    position:fixed;
    width:900px; height:80px;
    margin-top:150px;

}

#p-1 {
    position: relative;
    width:60px; height:60px;
    background-color:green;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    font-size:40px;
    color:white;
    text-align: center;

}

#p-2 {

    position:relative;
    width:60px; height:60px;
    background-color:green;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    font-size:40px;
    color:white;
    text-align: center;
}
